$primaryColor: #000000;
$secondaryColor: #009688;
$lightColor: #ffffff;
$size1: 4px;
$size2: 8px;
$size3: 16px;
$size4: 24px;
$size5: 32px;
$size6: 48px;
$size7: 64px;
$size8: 80px;
$size9: 96px;
$size10: 112px;
$headerHeight: $size10;